.square {
    background: #fff;
    border: 1px solid black;
    line-height: 60px;
    height: 80px;
    width: 80px;
    padding: 0px;
    float: left;
    text-align: center;
    text-shadow: black;
}

.row::after {
    clear: both;
    content: '';
    display: table;
    text-align: center;
    font-size: large;
}